.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #a067cb;
}

.App h1 {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 2rem;
}

.App form {
  display: block;
  width: 98%;
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
}

.App .form-group {
  margin: 10px 0;
}

.App label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.App input {
  display: block;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.App .form-actions {
  text-align: right;
}

.App button {
  background: #373737;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  opacity: 1;
}

.App button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
